.yiichat .exceded {
	color: #D24D57;
}

.yiichat .posts {
	border: 1px solid #eee;
	display: block;
	margin-bottom: 10px;
	padding: 3px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 300px;
}

.yiichat .posts .post {
	position:relative;
	padding:3px;
	margin:1em 0 1em;
	border:2px solid #c0c0c0;
	color:#333;
	background:#fff;
	  	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	/* display: inline;
	border: 1px solid #aaa;
	margin-bottom: 4px;
	padding: 0px;
	overflow: visible; */
	/* text-transform: capitalize; */
}

.yiichat .posts .post .track {
	background-color:  #fff;/* #FDFFCC; */
	width: 100%;
	padding: 0px;
	color: #333;
	float: left;
	overflow: auto;
	margin-right: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.yiichat-post-myown {
	text-align: right;
	background-color: #E6F2F2;	/* ini untuk message kita. kalo untuk message dari user lain belum ada pengaturan css-nya */
}

.yiichat-post-other {
	background-color: #FDFFCC;	/* ini untuk message kita. kalo untuk message dari user lain belum ada pengaturan css-nya */
}

.yiichat .posts .post .track .text {
	width: 100%;
}
.yiichat .posts .post .track .time {
	float: right;
}
.yiichat .posts .post .track .owner {
	text-transform: capitalize;
	font-weight: bold;
	color: #3c763d;
	/* background-color: #E6F2F2; */
}

/* Variant : for left positioned triangle
------------------------------------------ */

/* .triangle-border.left {
  margin-left:30px;
} */

/* Variant : for right positioned triangle
------------------------------------------ */

/* .triangle-border.right {
  margin-right:30px;
} */

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* .triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; value = - border-top-width - border-bottom-width
  left:40px; controls horizontal position
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  reduce the damage in FF3.0
  display:block;
  width:0;
} */

/* creates the smaller  triangle */
/* .triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; value = - border-top-width - border-bottom-width
  left:47px; value = (:before left) + (:before border-left) - (:after border-left)
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  reduce the damage in FF3.0
  display:block;
  width:0;
} */

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
/* .triangle-border.top:before {
  top:-20px; value = - border-top-width - border-bottom-width
  bottom:auto;
  left:auto;
  right:40px; controls horizontal position
  border-width:0 20px 20px;
} */

/* creates the smaller  triangle */
/* .triangle-border.top:after {
  top:-13px; value = - border-top-width - border-bottom-width
  bottom:auto;
  left:auto;
  right:47px; value = (:before right) + (:before border-right) - (:after border-right)
  border-width:0 13px 13px;
} */

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
/* .triangle-border.left:before {
  top:10px; controls vertical position
  bottom:auto;
  left:-30px; value = - border-left-width - border-right-width
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
} */

/* creates the smaller  triangle */
/* .triangle-border.left:after {
  top:16px; value = (:before top) + (:before border-top) - (:after border-top)
  bottom:auto;
  left:-21px; value = - border-left-width - border-right-width
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
} */

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
/* .triangle-border.right:before {
  top:10px; controls vertical position
  bottom:auto;
  left:auto;
  right:-30px; value = - border-left-width - border-right-width
  border-width:15px 0 15px 30px;
  border-color:transparent #5a8f00;
} */

/* creates the smaller  triangle */
/* .triangle-border.right:after {
  top:16px; value = (:before top) + (:before border-top) - (:after border-top)
  bottom:auto;
  left:auto;
  right:-21px; value = - border-left-width - border-right-width
  border-width:9px 0 9px 21px;
  border-color:transparent #fff;
} */