.box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-content {
    padding: 10px;
}

.box-icon {
    float: right;
}

.box-icon a {
    clear: none;
    float: left;
    margin: 0px;
    height: 20px;
    width: 5px;
    margin-top: -17px;
}

.box-icon a i {
    margin-left: -6px;
    top: -1px;
}

.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}